<app-header></app-header>
<h2>Welcome To Reimbursement Portal</h2>
<hr>
<div>
<p><strong>What are Reimbursements?</strong></p>

<p>Reimbursements are a special set of components that are part of the payroll. This is typically introduced in the payroll to save tax. Tax is to be paid by every employee to the government. The amount of tax is based on the income earned by the employee.</p>

<p>As the word suggests, reimbursements are money paid to you for some money that you have already spent. For example, a common reimbursement item is Medical Reimbursement. This indicates that if you spend some money on medical expenses (medicines, doctor charges, etc), then the company will reimburse (pay) you the amount spent by you. Another common reimbursement is LTA (Leave Travel Allowance).</p>

<p>You can claim expenses that are incurred during official duty. Claims are not a part of an employee's salary. Hence the claimed amount is paid separately and not as a part of the salary. The claimed amount is dispersed through Cash, Cheque, Recharge or Bank Transfers based on the mode that you specify while raising the expense claim request.</p>

<p><strong>All reimbursements are subject to upper limits. This means is that you can claim (request for payment) reimbursements only up to a certain limit.</strong></p>
</div>

<p><strong>If You Are Registered User Click On Sign In To View or Add your Claims<br>
If You Are a New user Click On Register or SignUp..!!</strong></p>
<hr>

<div><button type="button" class="btn btn-primary"(click)="signInUser()">Sign In</button> | <button type="button" class="btn btn-primary" (click)="registerNewUser()">New user? Sign Up Here</button></div>



